.menu {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 15%;
  color: rgb(114, 112, 112);

  text-align: right;

  // &--about-me {
  //   top: 18%;
  //   left: 25%;
  //   z-index: -1;
  //   transform: translate(-50%, -50%) rotate(-15deg);
  //   text-align: right;
  // }

  // &--description {
  //   top: 22%;
  //   left: 40%;
  //   z-index: -1;
  //   transform: translate(-50%, -50%) rotate(-10deg);
  //   text-align: right;
  // }

  // &--steps {
  //   top: 26%;
  //   left: 55%;
  //   z-index: -1;
  //   transform: translate(-50%, -50%) rotate(-5deg);
  //   text-align: right;
  // }

  // &--contact {
  //   top: 30%;
  //   left: 70%;
  //   z-index: -1;
  //   transform: translate(-50%, -50%) rotate(0deg);
  //   text-align: right;
  // }

  // &--responsive {
  //   top: 70%;
  //   left: 30%;
  //   z-index: -2;
  //   transform: translate(-50%, -50%) rotate(0deg);
  //   text-align: left;
  // }
  // &--projects {
  //   top: 74%;
  //   left: 35%;
  //   z-index: -1;
  //   transform: translate(-50%, -50%) rotate(-5deg);
  //   text-align: left;
  // }

  &--about-me {
    top: 18%;
    left: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-10deg);
    text-align: right;
  }

  &--description {
    top: 25.3%;
    left: 35%;
    z-index: 2;

    // top: 5%;
    // left: 80%;
    transform: translate(-50%, -50%) rotate(5deg);
    // z-index: -2;
  }

  &--steps {
    top: 30%;
    left: 45%;
    z-index: 1;
    text-align: right;
  }
  &--responsive {
    top: 70%;
    left: 35%;
    z-index: -2;
    transform: translate(-50%, -50%) rotate(5deg);
    text-align: left;
  }
  &--projects {
    top: 77%;
    left: 35%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-5deg);
    text-align: left;
  }
  &--contact {
    top: 44%;
    right: -33%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-20deg);
    text-align: right;
  }
}
