.pencil-container {
  position: relative;
  width: 100%;
  height: 100%;

  .pencil-line {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 20%;
    left: 10%;
    border-top: $color-gray-light 1px solid;
    border-left: $color-gray-light 1px solid;
  }
  .pencil {
    position: absolute;
    display: flex;
    width: 120%;
    height: 10%;
    top: 20%;
    left: 35%;
    z-index: 4;
    transform-origin: center left;

    transform: translateY(-50%) rotate(10deg);
    &__main {
      top: 0;
      right: 0;
      width: 85%;
      height: 100%;
      background: $color-businesscard-background-pencil;
      display: flex;
    }

    &__triangle {
      top: 0;
      left: 0;
      width: 15%;
      height: 100%;
      z-index: 1;
      border-right: rgb(172, 172, 172) 3px double;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
      background: $color-businesscard-background-pencil;
    }

    // border top and bottom - both should have 50% of "pencil" container height (100% height in total)
    // normal triangle can't made gradient border so the option is make our "traingle" transparent and rest triangles with background color with z-index:1 in parent
    // &__inside {
    //   content: ' ';
    //   position: absolute;
    //   top: -1px;
    //   left: -1px;
    //   width: 0;
    //   height: 0;
    //   border-top: 0.8rem solid $color-businesscard-background;
    //   border-right: 3rem solid transparent;
    //   border-bottom: 0.8rem solid $color-businesscard-background;
    // }

    // left and right padding are different cause of pen positon. Padding doesnt affect to other group of pens   because of different "text align in each 'menu' "
  }
}
