body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background: $color-blue-dark;
}

.paper {
  position: absolute;
  width: 100%;
  height: 75%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 55%;
  background-color: $color-paper;
  transform: translate(-50%, -50%) skew(15deg, 0deg) scale(1.2) rotate(-5deg);
  box-shadow: 0px 0px 3px 0px rgb(113, 112, 112);
  display: flex;

  &__margin {
    width: 10%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -0px;
      width: 60px;
      background: radial-gradient($color-background 6px, rgb(205, 203, 168) 6px)
        repeat-y;
      background-size: 30px 30px;
      box-sizing: border-box;
    }
  }

  &__main {
    // box-shadow: 0px 0px 5px 0px #888;
    height: 100%;
    width: 90%;
    background-image: repeating-linear-gradient(
      $color-paper 0px,
      $color-paper 24px,
      rgb(65, 61, 14) 25px
    );
  }
  &__content {
    padding-left: 35px;

    line-height: 25px;
    font-family: $font-hand;
  }
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // justify-items: center;
  // align-content: center;

  // display: grid;
  grid-template: 'animationframe';
  grid-template-rows: auto;
  grid-template-columns: auto;

  // @media (max-resolution: 1dppx) and (min-width: 1280px) {
  //   width: 100vw;
  //   height: 50vw;
  // }

  // @media (max-resolution: 1dppx) and (min-width: 1280px) {
  //   width: 100vw;
  //   height: 50vw;
  // }

  // background: white;
  &__textBody {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -10%;
    left: -15%;
    transform: translate(0%, 0%) rotate(-15deg);
    background: $color-body;
    color: $color-font-body;
  }
}

// .topbar {
//   display: none;

//   @media (max-resolution: 1dppx) {
//     position: absolute;
//     top: 0;

//     width: 100vw;
//     height: 6.8vh;
//     z-index: 4;
//     background-color: white;
//     border: black solid 2px;
//     padding: 2vh 0 2vh 1rem;
//     display: flex;
//   }

//   @media (max-resolution: 1dppx) and (min-width: 370px) and (max-width: 380px) {
//     height: 8.5vh;
//     padding: 3vh 0 3vh 1rem;
//   }

//   @media (min-width: 1024px) {
//     display: none;
//   }
// }

// .bottombar {
//   display: none;

//   // @media (max-resolution: 1dppx) {
//   //   position: absolute;
//   //   bottom: 0%;
//   //   width: 100vw;
//   //   height: 6.3vh;
//   //   z-index: 4;
//   //   background-color: white;
//   //   border: black solid 2px;
//   //   padding: 2vh 0 2vh 1rem;
//   //   display: flex;
//   //   // align-self: center;
//   // }

//   @media (max-resolution: 1dppx) and (min-width: 370px) and (max-width: 380px) {
//     position: absolute;
//     bottom: 0%;
//     width: 100vw;
//     height: 6vh;
//     z-index: 4;
//     background-color: rgb(136, 63, 63);
//     border: black solid 2px;
//     padding: 2vh 0 2vh 1rem;
//     display: flex;
//   }

//   @media (min-width: 1024px) {
//     display: none;
//   }
// }

.line {
  width: 100%;
  height: 5%;

  position: absolute;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;

  &__dot {
    margin-left: 4%;
    width: 3%;
    height: 30%;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 0px 3px 0px rgb(113, 112, 112);
  }
}
.line1 {
  top: 0%;
}
.line2 {
  top: 5%;
}
.line3 {
  top: 10%;
}
.line4 {
  top: 15%;
}
.line5 {
  top: 20%;
}
.line6 {
  top: 25%;
}
.line7 {
  top: 30%;
}
.line8 {
  top: 35%;
}
.line9 {
  top: 40%;
}
.line10 {
  top: 45%;
}
.line11 {
  top: 50%;
}
.line12 {
  top: 55%;
}
.line13 {
  top: 60%;
}
.line14 {
  top: 65%;
}
.line15 {
  top: 70%;
}
.line16 {
  top: 75%;
}
.line17 {
  top: 80%;
}
.line18 {
  top: 85%;
}
.line19 {
  top: 90%;
}
.line20 {
  top: 95%;
}
